@CHARSET "UTF-8";

.left-wall {
  background-image: url("../img/widescreen.jpg");
  background-position: 100% 0%;
  background-repeat: repeat-y;
}

.right-wall {
  background-image: url("../img/widescreen.jpg");
  background-position: 0% 100%;
  background-repeat: repeat-y;
}

@media ( max-width : 600px) {
	.logo-image {
		width: 257px;
		min-height: 144px;
		background-image: url(../img/yours.gif);
		background-repeat: no-repeat;
		margin-left: 70px;
	}
	.logo-image-narrow {
		width: 257px;
		min-height: 144px;
		background-image: url(../img/yours.gif);
		background-repeat: no-repeat;
		margin-top: 10px;
		margin-left: 70px;
		margin-bottom: 15px;
	}
}

@media ( min-width : 600px) {
	.logo-image {
		width: 257px;
		min-height: 144px;
		background-image: url(../img/yours.gif);
		background-repeat: no-repeat;
		margin-top: 40px;
		margin-left: 440px;
	}
	
	.logo-image-narrow {
		width: 257px;
		min-height: 144px;
		background-image: url(../img/yours.gif);
		background-repeat: no-repeat;
		margin-top: 10px;
		margin-bottom: 15px;
		margin-left: 240px;
	}
}

.logo-image-small {
		width: 100px;
		min-height: 50px;
		background-image: url(../img/yours-small.gif);
		background-repeat: no-repeat;
		margin-left: 20px;
	}

.td-50-percent {
	width: 50%;
}

.margin-top-20px {
	margin-top: 20px;
}

.horizontal-line {
	border-bottom: solid 1px;
}

.margin-top-15px {
	margin-top:15px;	
}

.bold {
	font-weight: bold;
}